.loading {
  display: block;
  background-color: #333333;
  text-align: center;
  padding: 16px 0;
}

.ant-btn {
  width: 100%;
}

.signIn {
  width: clamp(50%, 600px, 90%);
  margin: 20px auto;
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
}

.vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tall {
  height: 100%;
}

#root {
  height: 100%;
}

.tally-name {
  margin-left: 10px;
}

.action-area {
  margin: 1em auto 0 auto;
  text-align: center;
  display: grid;
  width: 20%;
  grid-gap: 3px;
}

.action-area-items {
  display: grid;
  width: 100%;
  grid-gap: inherit;
}

.basic-items {
  grid-template-columns: repeat(2, 1fr);
}

.advanced-items {
  grid-template-columns: repeat(3, 1fr);
}

.action-button {
  width: 100%;
}

.counter {
  margin-top: 5em;
  text-align: center;
}

.countdown {
  font-family: roboto, serif;
}

.lower-half {
  height: 100%;
  background-color: gray;
}

.inline-input {
  margin-top: 4px;
}
