.statContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    bottom: 50px;
    border-radius: 10px;
    margin: 0 10px ;
    column-gap: 10px;
    width: 90%;
}

.lineGraph {
    padding: 10px;
}

.border {
    border: 1px #232323 solid;
    border-radius: 10px;
}

.numLeft {
    padding: 10px;
}

.custom-tooltip {
    background-color: rgba(140, 140, 140, 0.5);
    width: 150px;
    padding: 10px;
    line-height: 8px;
    border-radius: 5px;
}

.custom-tooltip > .label {
    font-weight: bold;
    line-height: 12px;
}

.right {
    float: right;
}

.bm {
    margin-top: 40px;
    border: none;
    color: white;
    box-shadow: none;
    width: 22%;
}

.bm:hover {
    color: white;
    cursor: default;
}
