@import 'antd/dist/antd.css';
@import 'style/Main.css';
@import 'style/Form.css';
@import 'style/Navbar.css';
@import 'style/about.css';
@import 'style/Stats.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: roboto;
  src: url('./style/fonts/roboto/Roboto-Regular.ttf');
}
